body {
    font-family: Arial, sans-serif;
    background: url(bgbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
a:hover {
    color: orange;
}
header{
    position: relative;
    padding: 0 2rem;

}
.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}
.action_btn{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: white;
}
.action_btn:active{
    scale: 0.95;
}
.form-container {
    max-width: 420px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur (15px);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(118, 112, 112, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #06694d;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}